#story-schedule {
  color: #fff;
  background-color: rgb(215,68,38);

  .schedule {
    margin: 5em 0;

    article {
      @include at-breakpoint($desktop) {
        @include span-columns(5, $desktop);
      }
      margin-bottom: 5em;
      border-top: 1px solid rgba(255,255,255,0.1);
      border-left: 1px solid rgba(255,255,255,0.1);
      border-bottom: 1px solid rgba(255,255,255,0.1);

      header {
        @include span-columns(6);
        margin-top: -10px;
        margin-left: 1em;
        padding: 0;
        @include at-breakpoint($tablet) {
          margin-left: 40px;
          padding: 0 2em;
        }
        @include at-breakpoint($desktop) {
          width: auto;
          margin-left: 20px;
        }
        background-color: rgb(215,68,38);

        h3 {
          font-family: Lato;
          font-size: 18px;
          text-align: left;
          text-transform: uppercase;
          letter-spacing: 3px;
          @include at-breakpoint($desktop) {
            text-align: center;
            font-size: 14px;
          }
        }
      }

      .section {
        clear: both;
        min-height: 80px;
        margin-bottom: 2em;
        padding-bottom: 2em;
        @include at-breakpoint($tablet) {
          padding-left: 40px;
          min-height: 100px;
        }

        @include at-breakpoint($desktop) {
          padding-left: 20px;
          min-height: 80px;
        }

        border-top: 1px solid rgba(255,255,255,0.1);
        @extend #clearfix;

        .time {
          @include span-columns(4);
          margin-top: -12px;
          margin-left: 1em;
          color: rgba(255,255,255,.5);
          font-size: 16px;
          letter-spacing: 2px;
          background-color: rgb(215,68,38);

          @include at-breakpoint($tablet) {
            @include span-columns(4, $tablet);
            margin-left: 0;
            padding-left: 2em;
          }

          @include at-breakpoint($desktop) {
            @include span-columns(2, 4);
            margin-top: -8px;
            font-size: 12px;
          }

        }

        img {
          clear: left;
          // margin-left: 2em;
          @include border-radius(50px);
          @include filter(
            grayscale(1)
          );
          display: none;

          @include at-breakpoint($desktop) {
            @include span-columns(1 alpha,6);
            display: inline;
          }

          &:hover {
            @include filter(
              grayscale(0)
            );
          }
        }

        h4 {
          clear: left;
          line-height: 1.2;
          margin: 0 0 0 14px;
          font-size: 24px;
          @include at-breakpoint($tablet) {
            margin: 0 0 0 30px;
            @include span-columns(12, $tablet);
          }

          @include at-breakpoint($desktop) {
            clear: none;
            @include span-columns(5 omega, 6);
            margin: 0 0 .5em 0;
            font-size: 16px;

          }

          color: rgba(255,255,255,.8);

          text-transform: uppercase;
          letter-spacing: 2px;
        }

        h6 {
          line-height: 1.4;
          margin: 0 0 0 14px;
          color: rgba(255,255,255,.8);
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 1px;

          @include at-breakpoint($tablet) {
            margin-left: 30px;
            @include span-columns(12, $tablet);
          }

          @include at-breakpoint($desktop) {
            @include span-columns(5 omega, 6);
            font-size: 12px;
            margin: 0;
          }
        }

        p {
          margin: 1em 0 0 14px;
          color: rgba(255,255,255,.5);
          font-style: italic;

          @include at-breakpoint($tablet) {
            margin-left: 30px;
            @include span-columns(12, $tablet);
          }

          @include at-breakpoint($desktop) {
            @include span-columns(5 omega, 6);
            margin: 0;
          }

        }
      }
    }
  }
}