@import "partials/sections/welcome";
@import "partials/sections/speakers";
@import "partials/sections/venue";
@import "partials/sections/schedule";
@import "partials/sections/about";

section {
  .story {
    padding-top: 90px;

    h2 {
      color: #fff;
      font: {
        size: 50px;
        family: Lato;
        weight: 900;
      }
      letter-spacing: 1px;
      text: {
        align: center;
        transform: uppercase;
      }
    }
  }
}