section#story-venue {
  .story {
    .content {
      position: relative;
      z-index: 100;
      @include at-breakpoint($tablet) {
        margin-right: columns(4,16);
      }
      padding: 1em 2em;
      background-color: rgba(255,255,255,0.7);

      .container {
        @include at-breakpoint($tablet) {
          @include container(12);
          margin-left: auto;
          margin-right: 0 !important;
        }
      }

      h3 {
        text-transform: uppercase;
      }
    }

    .celebration_center {
      position: absolute;
      left: 0;
      bottom: 30%;
      @include filter(
        grayscale(1)
      );

      @include filter(
        blur(10px)
      );

      &:hover {
        @include filter(
          grayscale(0)
        );
      }

      &.start {
        bottom: 170%;
      }

      &.end {
        bottom: -210%;
      }
    }
  }
}