section#story-welcome {
  padding-top: 20px;
  @include at-breakpoint($tablet) {
    padding-top: 100px;
  }
  color: #fff;
  background-color: rgb(49,49,64);

  .location {
    margin-bottom: 1em;
    color: rgba(0,0,0,0.5);
    font: {
      size: 24px;
      weight: 900;
    }
    text: {
      align: center;
      transform: uppercase;
    }
  }

  .presents {
    margin-bottom: 2em;
    color: rgba(0,0,0,.3);
    font: {
      family: "Times New Roman";
      size: 20px;
      weight: 100;
      style: italic;
    }
    text: {
      align: center;
    }
  }

  .positioning_statement {
    line-height: 1;
    margin-bottom: 1em;
    @include at-breakpoint($tablet) {
      margin-bottom: 40px;
    }
    color: rgba(255,255,255,0.8);
    font: {
      family: Lato;
      size: 40px;
      weight: 900;
    }
    text: {
      align: center;
      transform: uppercase;
    }
    letter-spacing: 0;

    @include at-breakpoint($tablet) {
      font-size: 60px;
    }

    @include at-breakpoint($desktop) {
      font-size: 70px;
    }
  }

  .targets {
    margin: 0 auto 1em;
    padding: 0.5em 0;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 8px;

    @include at-breakpoint($tablet) {
      margin-bottom: 4em;
    }

    span {
      // @include span-columns(3, 9);
      margin-bottom: 0.25em;


      @include at-breakpoint($tablet) {
        margin-bottom: 0;
      }
    }

    .church {

    }

    .silent {
      @include omega;
    }
  }

  .call_to_action {
    @include at-breakpoint($tablet) {
      width: columns(15, 16);
    }

    margin: 0 auto;
    text-align: center;
    @extend #clearfix;

    .pricing {
      margin-bottom: 0.25em;
      padding: .5em 0;
      border-top: 1px solid rgba(255,255,255,.5);
      font: {
        family: Lato;
        size: 30px;
        weight: 700;
      }
      text-transform: uppercase;

      @include at-breakpoint($tablet) {
        @include span-columns(5, 15);
        margin-bottom: 0;
        border-bottom: 1px solid rgba(255,255,255,.5);
      }
    }

    .register {
      margin-bottom: 0.5em;

      a {
        display: block;
        padding: .5em 1em;
        color: #fff;
        font: {
          family: Lato;
          size: 30px;
          weight: 700;
        }
        vertical-align: middle;
        text-transform: uppercase;
        background-color: $color-accent-1;
        background-color: rgba(0,0,0,.6);

        &:hover {
          background-color: $color-accent-1;
          text-decoration: none;
        }
      }

      @include at-breakpoint($tablet) {
        display: inline-block;
        @include span-columns(5, 15);
        margin-bottom: 0;
      }
    }

    .dates {
      margin-bottom: 0.25em;
      padding: .75em 0;
      border-bottom: 1px solid rgba(255,255,255,.5);
      font: {
        family: Lato;
        size: 24px;
        weight: 700;
      }
      text-transform: uppercase;

      @include at-breakpoint($tablet) {
        @include span-columns(5 omega, 15);
        margin-bottom: 0;
        border-top: 1px solid rgba(255,255,255,.5);
      }

      span {
        display: none;

        @include at-breakpoint($desktop) {
          display: inline;
        }
      }
    }
  }
}