<section id="story-about" data-nav="About" anim-pause="1000">
  <img class="bg" src="{{ 'heros/hero3.jpg' | theme_image_url }}" />
  <div class="story">
    <div class="container">
      <header>
        <h2>Connected</h2>
        <h3>We're the About the Big 'C' Church</h3>
      </header>
    </div>

    <div class="content">
      <div class="container">
        <h3>We see a forest, not a tree</h3>

        <p>Ecclesiastes 4:11-12, "If two lie down together, they will keep warm. But how can one keep warm alone? Though one may be overpowered, two can defend themselves. A cord of three strands is not quickly broken."</p>

        <p>How do the great Sequia's in the Redwood Forest keep standing even in the wildest of storms? It's because the redwood's root systems reach out for great distances and are intertwined with one another. They literally hold each up other up.</p>

        <p>We believe that our ministries must be connected to survive.</p>

        <h3>Lorem ipsum dolor sit amet</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h3>Lorem ipsum dolor sit amet</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</section>