<section class="announcements">
  <div class="container">
    <div class="events">
      <section class="times">
        <header>
          <h1>Gathering Times</h1>
        </header>
        <div class="content">
          <article class="event">
            <h2>Sunday mornings, 11:00AM</h2>
            <p>Join us for our Sunday worship service, each week at <a href="http://hahninchurch.org">Hahn-In CRC</a>.</p>
          </article>
          <article class="event">
            <h2>Tuesdays evenings, 9:00PM</h2>
            <p>Meet with us as we gather for a time of mid-week prayer at <addr>Woodlawn CRC Ministry Center: 3190 Burton St SE, Grand Rapids, MI 49546</addr>.</p>
          </article>
        </div>
      </section>

      <section class="upcoming">
        <header>
          <h1>Upcoming Events</h1>
        </header>
        <div class="content">
          <article class="event">
            <div class="date">
              <span class="month">Dec</span>
              <span class="day">24</span>
            </div>

            <h2>Offsite Vision Retreat</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          </article>
        </div>
      </section>
    </div>

    <div class="locations">
      <section class="map">
        <header>
          <h1>
            How to<br />
            find us:
          </h1>
          <p>
            We meet at Hahn-In CRC<br />
            2445 28th Street SW, Wyoming, MI 49519 (<a href="#">Google Maps</a>)
          </p>
        </header>
        <div class="content">
          <img src="{{ 'map.gif' | theme_image_url }}" />
        </div>
      </section>
    </div>
  </div>
</section>