<header role="global">
  <div class="container">
    <h1 id="logo">
      <a href="/"><span>Liquid</span> Conference</a>
    </h1>

    <!-- <a class="register" href="/register">Register</a> -->

    <nav role="primary">
      <ul>
        <li><a href="#welcome">Welcome</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#venue">Venue</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#your">You</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
  </div>
</header>