<header role="global">
  <div class="container">
    <nav role="secondary">
      <ul>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </nav>

    <h1><a href="/">Goodberry</a></h1>
    <p class="tagline">It's like Netflix for churches.</p>

    <a href="#" class="sign_up">Sign Up</a>

    <nav role="primary">
      <div class="browse">
        <a href="#">Browse</a>
      </div>
      <div class="search">
        <form action="//catalog.goodberry.net/search" method="GET">
          <label>Search</label>
          <input type="text" name="query" placeholder="Title, Subject, Author, or ISBN" />
          <button>Search</button>
        </form>
      </div>
    </nav>
  </div>
</header>