<section id="story-welcome" data-nav="Welcome">
  <img class="bg animate" src="{{ 'heros/sky-water.jpg' | theme_image_url }}" anim-detached="true" />

  <div class="story">
    <div class="container">
      <div class="location">
        Camp Geneva In Holland, Michgan
      </div>

      <div class="presents">
        &mdash; Living Water Presents &mdash;
      </div>

      <div class="positioning_statement">
        {% editable_long_text "introduction", hint: "Introductry paragraph", priority: 1 %}
          God has a plan for you and your Church
        {% endeditable_long_text %}
      </div>

      <div class="call_to_action">
        <div class="pricing">$100</div>
        <div class="register">
          <a href="">Register</a>
        </div>
        <div class="dates">March 15-17<span>, 2013</span></div>
      </div>
    </div>
  </div>
</section>