<section id="story-your" data-nav="Your Story">
  <div class="story">
    <div class="container">
      <header>
        <h2>What Is God Doing In Your Life?</h2>
        <h3>What is Your Story?</h3>
      </header>
    </div>

    <div class="content">
      <div class="container">
        <p>We believe that God is the primary actor in the this story called "life".  We are just participating in the amazing work that God is already doing.  What has God been doing in your life?  How is God working in your church?  In your ministries?</p>

        <p>We hope to hear what God is already doing in your life.  He has a plan for you and the church.  We were not call to merely exist, but to change the world.  God is already doing the work of changing the world.  How are you participating in His work?</p>
      </div>
    </div>
  </div>
</section>