body#index-page {
  .hero {
    min-height: 400px;
    padding-top: 185px;
    background-image: url(/images/hero1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 0;

    h1 {
      margin-bottom: 0;
      color: #fff;
      font-size: 44px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-family: Enriqueta, Serif;

      span {
        font-weight: normal;
      }
    }

    h2 {
      margin-top: 0;
      text-align: center;
      color: #fff;
      font-weight: 500;
      font-size: 18px;
    }
  }
}