footer[role="global"] {
  clear: both;
  padding-bottom: 3em;

  hr {
    width: 100%;
    margin: 0 0 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
  }

  .vcard {
    .adr {
      font-size: 14px;

      .tel {
        margin-right: 1em;
      }

      abbr {
        font-weight: 600;
      }
    }

    .copyright {
      font-size: 11px;
    }
  }
}