header[role="global"] {
  h1 {
    @include float-left;
    margin: 1.5em .5em 1.5em 0;
    padding-left: 1em;
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -2px;
  }

  .tagline {
    @include float-left;
    margin: 3.5em 0 0;
    line-height: 3em;
    font-size: 12px;
    color: $color-accent-1;
  }

  nav[role="secondary"] {
    @include float-right;

    ul {
      margin: 1em 0;
      padding: 0;
      @extend #clearfix;

      li {
        @include float-left;
        padding-left: 1em;
        padding-right: 1em;
        border-right: 1px solid $color-default;

        &:last-child {
          border: 0;
          padding-right: 0;
        }

        a {
          display: block;
          font-size: 12px;
        }
      }
    }
  }

  .sign_up {
    clear: right;
    @include float-right;
    margin-top: 1em;
    padding: .5em 1em;
    color: $color-white;
    font-size: 14px;
    background-color: $color-default;
  }

  nav[role="primary"] {
    clear: both;
    margin-bottom: 2em;
    background-color: #eee;
    @include border-radius(4px);
    @extend #clearfix;

    .browse {
      @include float-left;

      a {
        display: block;
        line-height: 18px + 7px + 7px;
        padding: 9px 1.5em;
        font-size: 18px;
        font-weight: 600;
      }
    }

    .search {
      @include float-left;
      padding: 8px 10px;
      border-left: 1px solid $color-white;

      label {
        @include float-left;
        margin-right: 0.5em;
        line-height: 18px + 10px + 10px;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
      }

      input[type="text"] {
        @include float-left;
        width: 25em;
        line-height: 18px + 9px + 9px;
        margin-right: 0.25em;
        padding: 0 6px;
        font-size: 18px;
        border: 1px solid #ddd;
        @include border-radius(4px);
        @include box-shadow(
          box-shadow(#aaa, 0, -1px, 0, 0 inset),
          box-shadow($color-white, 0, 1px)
        );
      }

      button {
        @include float-left;
        width: 18px + 10px + 10px + 10px;
        height: 18px + 10px + 10px;
        font-size: 18px;
        border: 1px solid #ddd;
        background-color: transparent;
        @include border-radius(4px);
        @include box-shadow(
          box-shadow($color-white, 0, -1px),
          box-shadow(#aaa, 0, 1px)
        );

        &:before {
          @include icon;
          content: '🔍';
          line-height: 38px;
          color: #aaa;
          font-weight: normal;
          font-size: 120%;
        }
      }
    }
  }
}