header[role="global"] {
  position: fixed;
  top: 0;
  height: 90px;
  line-height: 1.5;
  line-height: 90px;
  width: 100%;
  z-index: 100;

  @include background(
    linear-gradient(top center, rgba(255,255,255,0.85), rgba(255,255,255,0.95))
  );

  h1 {
    width: columns(4, 16);
    margin: 0 auto;
    padding: .5em 0 0;
    text-align: center;

    a {
      display: block;
      font-weight: 300;
      font-family: Lato;
      text-transform: uppercase;
      color: #333;
      font-size: 14px;
      line-height: 1;

      span {
        display: block;
        font-weight: 900;
        color: #333;
        font-size: 3em;
      }
    }
  }
}