@import "partials/layout/header";
@import "partials/layout/navigation";
@import "partials/layout/footer";

body {
  margin: 0;
  padding-top: 90px;
  background-color: #eee;
  background-image: url(/images/footer_bg.gif);
}

.container {
  @include container($total-columns, $tablet, $desktop);
}

header[role="global"],
footer[role="global"],
#content {
  @extend #clearfix;
}