header[role="global"] {
  nav {
    @include float-right;
    display: none;

    @include at-breakpoint($desktop) {
      display: inline;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      @extend #clearfix;

      li {
        @include float-left;
        margin-right: 1.5em;
        padding: 0;

        a {
          display: block;
          color: $color-link;
          font: {
            family: "Open Sans", sans-serif;
            size: pem(12px);
            weight: 600;
          }
          text-transform: uppercase;
          letter-spacing: 1px
        }

        &.on {
          a {
            color: $color-link-highlight;
          }
        }
      }
    }
  }

  .register {
    @include float-right;
    margin-top: 1.5em;
    padding: 0.5em 1em;
    line-height: 1.5;
    color: #fff;
    background-color: $color-accent-1;
  }
}