header[role="global"] {
  nav {
    @include float-right;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      @extend #clearfix;

      li {
        @include float-left;
        margin-right: 1.5em;
        padding: 0;

        a {
          display: block;
          color: $color-link;
          font-size: pem(12px);
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1px
        }

        &.on {
          a {
            color: $color-link-highlight;
          }
        }
      }
    }
  }
}

body#index-page {
  #home-link {
    a {
      color: $color-link-highlight;
    }
  }
}