<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  {% include 'head' %}
  {% inline_editor %}
</head>

<body id="{{ page.slug | dasherize }}-page" class="{% block page_class %}{% endblock %}">
  {% include 'ie7' %}
  {% include 'header' %}

  <div class="hero">
    <div class="container">
      {% block hero %}
        <h1><span>&mdash;</span> Real Life Church <span>&mdash;</span></h1>
        <h2>Learn more about our community</h2>
      {% endblock %}
    </div>
  </div>

  <div id="content">
    <div class="container">
      <section role="global">
        {% block section_global %}
          <p class="introduction">We’re a small, close-knit community of believers. We’re drawn together by a common love for Christ, our pursuit to live like Him, and a desire to support and challenge one-another in our faith journey.<p>

          <h3>We love you.</h3>

          <p class="welcome">We love loving people – and it shows.You should come by and find out what’s happening at Living Water. Maybe you’ll love us too!</p>
        {% endblock %}
      </section>

      {% block aside_global %}
        <aside role="global">
          <iframe src="http://www.youtube.com/embed/DmvlwrdK7qw" frameborder="0" allowfullscreen></iframe>
          <h4>Watch:</h4>
          <p>Welcome to Living Water CRC (2:23)</p>
        </aside>
      {% endblock %}

    </div> <!-- /.container -->
  </div> <!-- /#content -->

  {% include 'announcements' %}
  {% include 'footer' %}
  {% include 'foot' %}
</body>
</html>