<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  {% include 'head' %}
  {% inline_editor %}
</head>
<body id="{{ page.slug | dasherize }}-page" class="{% block page_class %}{% endblock %}">
  <div id="mock-scroller"></div>
  <ul id="nav"></ul>

  {% include 'header' %}

  <div id="content">
    {% include 'welcome' %}
    {% include 'speakers' %}
    {% include 'venue' %}
    {% include 'schedule' %}
    {% include 'about' %}
  </div>
</body>
</html>