{% extends 'landing' %}

{% block aside_global %}
  <aside role="global">
    <nav class="tertiary">
      <header>
        <h1>more</h1>
      </header>
      {% nav parent, id: '' %}
    </nav>

    <article class="signup">
      <h1><a href="/about/start-your-free-trial">Try Goodberry for Free</a></h1>
      <p>30 Day Money Back Guarantee!</p>
    </article>
  </aside>
{% endblock %}