{% extends 'landing' %}

{% block aside_global %}
  <aside role="global">
    <nav class="tertiary">
      <header>
        <h1>more</h1>
      </header>
      {% nav page, id: '' %}
    </nav>
  </aside>
{% endblock %}