body#index-page {
  .hero {
    margin-bottom: 3em;
    padding: 3em;
    background-color: #eee;
    @include border-radius(4px);
    @extend #clearfix;

    h1 {
      @include span-columns(11 alpha, 16);
      margin-top: 0;
      color: $color-accent-1;
      font-family: futura-pt, Helvetica, Arial, sans-serif;
      font-size: 3em;
      font-weight: 700;
      letter-spacing: -1px;
      line-height: 1.2;
    }

    .call_to_action {
      @include span-columns(5 omega, 16);
      padding-top: 2em;
      font-size: 20px;
      font-weight: 500;
      text-decoration: underline;
    }

    section {
      clear: both;

      article {
        @include span-columns(3.5, 16);

        h2 {
          line-height: 1;
          font-size: 16px;
        }
      }
    }
  }

  .popular {
    @include span-columns(8, 16);
    @include post(1, 16);

    h1 {
      margin-top: 0;
      font-size: 18px;
      font-weight: 600;
    }

    article {
      @include span-columns(4, 8);
      margin-bottom: 1em;

      &:nth-child(2n) {
        @include omega;
      }

      img {
        @include float-left;
        margin-right: 1em;
      }

      h2 {
        margin: 0 0 0.5em;
        font-size: 13px;
        font-weight: 600;
      }

      p {
        margin: 0;
        margin-left: 80px + 13px;
        font-size: 12px;
      }
    }
  }

  aside[role="global"] {
    @include span-columns(7, 16);
    padding-top: 2em;

    .blog {
      margin-bottom: 1em;
      padding: 1em 2em;
      border: 1px solid #ddd;
      background-color: #eee;
      @include border-radius(4px);

      a {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .newsletter {
      padding: 1em 2em;
      border: 1px solid #ddd;
      background-color: #eee;
      @include border-radius(4px);

      h1 {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}