@import "normalize";
@import "compass";
@import "susy";

$base-font-size: 16px;

@function pem($target, $context: $base-font-size) {
  @if $target == 0 { @return 0 }
  @return $target / $context + 0em;
}

$column-width: pem(40px);
$gutter-width: pem(20px);
$grid-padding: pem(10px);

$total-columns: 6;
$tablet: 12;
$desktop: 16;

@include border-box-sizing;

#clearfix {
  @include pie-clearfix;
}